svg {
  display: block;
  margin: auto;
}

#loader
{ fill: #0088cc }

#border
{ fill: #00517a }

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
